<a href="https://colab.research.google.com/github/019Sorawit/ML/blob/main/Weight%26hair_length_019.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd #เรียกใช้ paddas 
import math #เรียกใช้ math
import matplotlib.pyplot as plt #เรียกใช้การสร้างกราฟต่างๆ

In [ ]:
df_weight=pd.DataFrame({'weight(X)':[50,60,60,55,54,53,70,40,60,65],
                 'hair length(Y)':[7,8,7,6,6,7,8,3,8,9]})

In [ ]:
df_weight['X2'] =df_weight['weight(X)']**2
df_weight['XY'] =df_weight['weight(X)']*df_weight['hair length(Y)']

In [ ]:
df_weight

   weight(X)  hair length(Y)    X2   XY
0         50               7  2500  350
1         60               8  3600  480
2         60               7  3600  420
3         55               6  3025  330
4         54               6  2916  324
5         53               7  2809  371
6         70               8  4900  560
7         40               3  1600  120
8         60               8  3600  480
9         65               9  4225  585

In [ ]:
print('Sum :weight(X)=',df_weight['weight(X)'].sum())
print('Sum :hair length(Y)=',df_weight['hair length(Y)'].sum())

Sum :weight(X)= 567
Sum :hair length(Y)= 69

In [ ]:
X_mean = df_weight['weight(X)'].mean()
print('ค่าเฉลี่ยของ X : ',X_mean) 
Y_mean = df_weight['hair length(Y)'].mean()
print('ค่าเฉลี่ยของ Y : ',Y_mean)

ค่าเฉลี่ยของ X :  56.7
ค่าเฉลี่ยของ Y :  6.9

In [ ]:
print('ผลรวมของ X2 : ',df_weight['X2'].sum()) 
print('ผลรวมของ XY : ',df_weight['XY'].sum())

ผลรวมของ X2 :  32775
ผลรวมของ XY :  4020

In [ ]:
meanX_2 = df_weight['weight(X)'].mean()**2
print('ค่าเฉลี่ยของ X_2 : ',meanX_2)
meanX2_ = df_weight['X2'].mean()
print('ค่าเฉลี่ยของ X2_ : ',meanX2_)
meanXY_ = df_weight['XY'].mean()
print('ค่าเฉลี่ยของ XY  : ',meanXY_)

ค่าเฉลี่ยของ X_2 :  3214.8900000000003
ค่าเฉลี่ยของ X2_ :  3277.5
ค่าเฉลี่ยของ XY  :  402.0

In [ ]:
suma = (meanXY_-(X_mean*Y_mean))/(meanX2_-meanX_2)
print('ค่า A :',suma)
sumb = ((meanX2_*Y_mean)-(meanXY_*X_mean))/(meanX2_-meanX_2)
print('ค่า B :',sumb)

ค่า A : 0.17201724964063309
ค่า B : -2.8533780546239003

#หา R

In [ ]:
df_weight1=pd.DataFrame({'weight(X)':[50,60,60,55,54,53,70,40,60,65],
                 'hair length(Y)':[7,8,7,6,6,7,8,3,8,9]})

In [ ]:
df_weight1['X-X_'] = df_weight1['weight(X)']-(df_weight1['weight(X)'].mean())
df_weight1['(X-X_)^2'] = (df_weight1['weight(X)']-(df_weight1['weight(X)'].mean()))**2
df_weight1['Y-Y_'] = df_weight1['hair length(Y)']-(df_weight1['hair length(Y)'].mean()) 
df_weight1['(Y-Y_)^2'] = (df_weight1['hair length(Y)']-(df_weight1['hair length(Y)'].mean()))**2

In [ ]:
df_weight1['(X-X_)*(Y-Y_)']= df_weight1['X-X_']*df_weight1['Y-Y_']

In [ ]:
df_weight1

   weight(X)  hair length(Y)  X-X_  (X-X_)^2  Y-Y_  (Y-Y_)^2  (X-X_)*(Y-Y_)
0         50               7  -6.7     44.89   0.1      0.01          -0.67
1         60               8   3.3     10.89   1.1      1.21           3.63
2         60               7   3.3     10.89   0.1      0.01           0.33
3         55               6  -1.7      2.89  -0.9      0.81           1.53
4         54               6  -2.7      7.29  -0.9      0.81           2.43
5         53               7  -3.7     13.69   0.1      0.01          -0.37
6         70               8  13.3    176.89   1.1      1.21          14.63
7         40               3 -16.7    278.89  -3.9     15.21          65.13
8         60               8   3.3     10.89   1.1      1.21           3.63
9         65               9   8.3     68.89   2.1      4.41          17.43

In [ ]:
n =df_weight1.shape[0]

In [ ]:
df_weight1['(X-X_)^2'].sum()

626.1

In [ ]:
df_weight1['(Y-Y_)^2'].sum()

24.9

In [ ]:
df_weight1['(X-X_)*(Y-Y_)'].sum()

107.7

In [ ]:
df_weight1['(X-X_)^2'].sum()*df_weight1['(Y-Y_)^2'].sum()

15589.89

In [ ]:
math.sqrt(df_weight1['(X-X_)^2'].sum()*df_weight1['(Y-Y_)^2'].sum())

124.8594810176624

In [ ]:
r = (df_weight1['(X-X_)*(Y-Y_)'].sum())/(math.sqrt(df_weight1['(X-X_)^2'].sum()*df_weight1['(Y-Y_)^2'].sum()))
print('ค่า R : ',r)

ค่า R :  0.862569659285745

#หา Yhat

In [ ]:
Sy = math.sqrt(df_weight1['(Y-Y_)^2'].sum()/(n-1))
Sx = math.sqrt(df_weight1['(X-X_)^2'].sum()/(n-1))
print('ค่า Sy : ',Sy)
print('ค่า SX : ',Sx)

ค่า Sy :  1.66332999331662
ค่า SX :  8.340663442836346

In [ ]:
b = r * (Sy/Sx)
print('ค่า B ทีค่าเท่ากับ : ',b)

ค่า B ทีค่าเท่ากับ :  0.17201724964063253

In [ ]:
a = Y_mean - (b*X_mean)
print('ค่า A ทีค่าเท่ากับ : ',a)

ค่า A ทีค่าเท่ากับ :  -2.853378054623864

#SSE

In [ ]:
df_Y = pd.DataFrame({'hair length(Y)':[7,8,7,6,6,7,8,3,8,9] })
df_Y['Yhat']= a + (b*df_weight1['weight(X)'])

In [ ]:
df_Y

   hair length(Y)      Yhat
0               7  5.747484
1               8  7.467657
2               7  7.467657
3               6  6.607571
4               6  6.435553
5               7  6.263536
6               8  9.187829
7               3  4.027312
8               8  7.467657
9               9  8.327743

In [ ]:
df_SSE=df_Y.copy()

In [ ]:
df_SSE['Y-Yhat'] = (df_SSE['hair length(Y)'] - df_SSE['Yhat'])

In [ ]:
df_SSE['Y-Yhat^2'] = df_SSE['Y-Yhat']**2

In [ ]:
df_SSE

   hair length(Y)      Yhat    Y-Yhat  Y-Yhat^2
0               7  5.747484  1.252516  1.568795
1               8  7.467657  0.532343  0.283389
2               7  7.467657 -0.467657  0.218703
3               6  6.607571 -0.607571  0.369142
4               6  6.435553 -0.435553  0.189707
5               7  6.263536  0.736464  0.542379
6               8  9.187829 -1.187829  1.410939
7               3  4.027312 -1.027312  1.055370
8               8  7.467657  0.532343  0.283389
9               9  8.327743  0.672257  0.451929

In [ ]:
sse = df_SSE['Y-Yhat^2'].sum()
print('Sum Squared Error : %.2f'%sse)

Sum Squared Error : 6.37

#MSE

In [ ]:
MSE=sse / n
print('Mean Squared Error : %.2f'%MSE)

Mean Squared Error : 0.64

#MAE

In [ ]:
df_MAE =df_Y.copy()

In [ ]:
df_MAE['Y-Yhat'] = (df_MAE['hair length(Y)'] - df_MAE['Yhat'])

In [ ]:
df_MAE['|Y-Yhat|']= abs(df_MAE['Y-Yhat'])

In [ ]:
df_MAE

   hair length(Y)      Yhat    Y-Yhat  |Y-Yhat|
0               7  5.747484  1.252516  1.252516
1               8  7.467657  0.532343  0.532343
2               7  7.467657 -0.467657  0.467657
3               6  6.607571 -0.607571  0.607571
4               6  6.435553 -0.435553  0.435553
5               7  6.263536  0.736464  0.736464
6               8  9.187829 -1.187829  1.187829
7               3  4.027312 -1.027312  1.027312
8               8  7.467657  0.532343  0.532343
9               9  8.327743  0.672257  0.672257

In [ ]:
df_MAE['|Y-Yhat|'].sum()

7.451844753234306

In [ ]:
MAE=df_MAE['|Y-Yhat|'].sum()
resultMAE=MAE / n
print('Mean Absolute Error : %.2f'%resultMAE)

Mean Absolute Error : 0.75

#MAPE

In [ ]:
df_MAPE = df_Y.copy()

In [ ]:
df_MAPE['Y-Yhat'] = (df_MAPE['hair length(Y)'] - df_MAPE['Yhat'])

In [ ]:
df_MAPE['Y-Yhat/Y'] = df_MAPE['Y-Yhat']/df_MAPE['hair length(Y)']

In [ ]:
df_MAPE['|Y-Yhat/Y|'] = abs(df_MAPE['Y-Yhat/Y'])

In [ ]:
df_MAPE

   hair length(Y)      Yhat    Y-Yhat  Y-Yhat/Y  |Y-Yhat/Y|
0               7  5.747484  1.252516  0.178931    0.178931
1               8  7.467657  0.532343  0.066543    0.066543
2               7  7.467657 -0.467657 -0.066808    0.066808
3               6  6.607571 -0.607571 -0.101262    0.101262
4               6  6.435553 -0.435553 -0.072592    0.072592
5               7  6.263536  0.736464  0.105209    0.105209
6               8  9.187829 -1.187829 -0.148479    0.148479
7               3  4.027312 -1.027312 -0.342437    0.342437
8               8  7.467657  0.532343  0.066543    0.066543
9               9  8.327743  0.672257  0.074695    0.074695

In [ ]:
df_MAPE['Y-Yhat/Y'].sum()

-0.23965725085753892

In [ ]:
df_MAPE['|Y-Yhat/Y|'].sum()

1.2234990226724773

In [ ]:
MAPE = df_MAPE['|Y-Yhat/Y|'].sum()
resultMAPE = (100/n) * (MAPE) 
print('Mean Absolute Percentage Error : %.2f'%resultMAPE)

Mean Absolute Percentage Error : 12.23